@font-face {
  font-family: Gotham;
  src: url(../../fonts/Gotham-book.woff2) format("woff2"), url(../../fonts/Gotham-book.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-medium.woff2) format("woff2"), url(../fonts/Montserrat-medium.woff) format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-regular.woff2) format("woff2"), url(../fonts/Montserrat-regular.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: Gotham, sans-serif;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: 1s infinite bugfix;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

img {
  object-fit: contain;
}

.about {
  padding-top: 3rem;
  padding-bottom: 23.8rem;
  margin: 0 auto;
  width: 156rem;
}
.about__title {
  color: #434248;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14.3rem;
  line-height: 17.4rem;
  margin-bottom: 11rem;
}
.about__discription {
  width: 116.1rem;
  color: #434248;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.9rem;
  margin-bottom: 17rem;
}
.about__img {
  width: 36.2rem;
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24rem;
}
.about__content-wrapper {
  display: flex;
  flex-direction: column;
}
.about__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  width: 32.4rem;
  margin-bottom: 8rem;
}
.about__features {
  width: 102.9rem;
  gap: 10rem 3.7rem;
  display: flex;
  flex-wrap: wrap;
}
.about .item {
  border-top: 0.1rem solid;
  border-color: #434248;
  width: 49.6rem;
  padding-top: 4.5rem;
}
.about .item__icon {
  width: 8rem;
  margin-bottom: 3.5rem;
}
.about .item__title {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}
.about .item__discription {
  margin-top: 5rem;
  width: 45rem;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.about .mission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.about .mission__img {
  width: 101.9rem;
  position: relative;
  right: -11.3rem;
}
.about .mission__img-text {
  position: absolute;
  right: 14.8rem;
  bottom: 4rem;
  background-color: #FFF3E5;
  width: 64.6rem;
}
.about .mission__icon {
  margin: 0;
  position: relative;
  top: -4.25rem;
  left: 4.9rem;
  width: 9.5rem;
}
.about .mission__quote {
  width: 52.2rem;
  margin-left: 6.2rem;
  margin-top: 1.95rem;
  margin-bottom: 3.5rem;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
}
.about .mission__author {
  margin-left: 6.2rem;
  padding-bottom: 7rem;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.about .mission__title {
  color: #E9743F;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.3rem;
  margin-bottom: 6rem;
  width: 60.8rem;
}
.about .mission__discription {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #434248;
  margin-bottom: 6rem;
  width: 49.6rem;
}
.about .mission__button {
  width: 32rem;
  height: 4.3rem;
  border-radius: 3rem;
  border: 0.1rem solid #434248;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #434248;
  margin-bottom: 2rem;
}
.about .mission__button-subtitles {
  margin-left: 3.4rem;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(67, 66, 72, 0.5);
}/*# sourceMappingURL=about.css.map */