@charset "UTF-8";
@font-face {
  font-family: Gotham;
  src: url(../../fonts/Gotham-book.woff2) format("woff2"), url(../../fonts/Gotham-book.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-medium.woff2) format("woff2"), url(../fonts/Montserrat-medium.woff) format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-regular.woff2) format("woff2"), url(../fonts/Montserrat-regular.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: Gotham, sans-serif;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: 1s infinite bugfix;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

img {
  object-fit: contain;
}

.cart {
  padding-top: 3rem;
  padding-bottom: 23.8rem;
  margin: 0 auto;
  width: 156rem;
}
.cart__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.3rem;
  color: #434248;
  margin-bottom: 2.4rem;
}
.cart__title:after {
  content: "(2)";
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.9rem;
  position: relative;
  left: 0.9rem;
  top: -0.7rem;
}
.cart__list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cart .item {
  border-bottom: 0.1rem solid rgba(67, 66, 72, 0.5);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.cart .item__list-title {
  color: rgba(67, 66, 72, 0.5);
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 1rem;
}
.cart .item__list-title:nth-child(1) {
  margin-right: 53.7rem;
}
.cart .item__list-title:nth-child(2) {
  margin-right: 24.37rem;
}
.cart .item__list-title:nth-child(3) {
  margin-right: 27.66rem;
}
.cart .item__img {
  width: 10rem;
  object-fit: contain;
  margin-right: 2rem;
}
.cart .item__title {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #434248;
  min-width: 25rem;
  margin-right: 21.9rem;
  letter-spacing: 0.035rem;
  margin-bottom: 0.3rem;
}
.cart .item__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #434248;
  width: 20rem;
  margin-right: 8.1rem;
  text-align: start;
  white-space: nowrap;
}
.cart .item__price--second {
  margin-right: 9.65rem;
}
.cart .item__price::after {
  content: "₽";
  font-family: "Montserrat";
  font-size: 1.6rem;
  line-height: 1.9rem;
  top: -0.5rem;
  left: 0.2rem;
  position: relative;
}
.cart .item__buttons {
  width: 12.8rem;
  padding: 1.2rem 2.4rem;
  height: 4.3rem;
  margin-bottom: 0.3rem;
  border: 0.1rem solid #434248;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-right: 24.6rem;
  cursor: pointer;
}
.cart .item__minus {
  width: 1.6rem;
}
.cart .item__counter {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
.cart .item__plus {
  width: 1.6rem;
}
.cart .item__remove {
  width: 1.667rem;
  cursor: pointer;
}
.cart__total-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.9rem;
}
.cart__total-price .item__price {
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.9rem;
}
.cart__total-price .item__price::after {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  top: -2.2rem;
  left: 0.4rem;
}
.cart__confirm-order {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart__confirm-button {
  width: 30.2rem;
  height: 4.3rem;
  background-color: #434248;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border-radius: 3rem;
  position: relative;
  bottom: 0.35rem;
}
.cart__button-img {
  width: 2.4rem;
  margin-top: 0.2rem;
  margin-right: 1.625rem;
}
.cart__button-text {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: white;
  letter-spacing: 0.035rem;
}/*# sourceMappingURL=cart.css.map */