@font-face {
  font-family: Gotham;
  src: url(../../fonts/Gotham-book.woff2) format("woff2"), url(../../fonts/Gotham-book.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-medium.woff2) format("woff2"), url(../fonts/Montserrat-medium.woff) format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-regular.woff2) format("woff2"), url(../fonts/Montserrat-regular.woff) format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: Gotham, sans-serif;
  font-size: 0.5208335vw;
  font-style: normal;
  font-weight: 400;
  -webkit-animation: 1s infinite bugfix;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

img {
  object-fit: contain;
}

.portfolio-det {
  padding-top: 3rem;
  padding-bottom: 23.8rem;
  margin: 0 auto;
  width: 156rem;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-det li {
  list-style-type: disc;
}
.portfolio-det__head {
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 5rem;
}
.portfolio-det__img-box-four--mobile {
  display: none;
}
.portfolio-det__block-info {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-start;
  width: fit-content;
}
.portfolio-det__type {
  width: fit-content;
  padding: 1rem 2rem;
  color: #E9743F;
  border: 0.1rem solid #E9743F;
  border-radius: 2rem;
  margin-right: 47.2rem;
}
.portfolio-det__block-info-value {
  padding-left: 1.5rem;
  position: relative;
}
.portfolio-det__block-info-value::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0.7rem;
  background: #434248;
  border-radius: 10rem;
  width: 0.5rem;
  height: 0.5rem;
}
.portfolio-det__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 4.9rem;
  text-transform: uppercase;
  color: #434248;
  width: 83.5rem;
  margin-bottom: -1rem;
}
.portfolio-det__section-left {
  width: 55.3rem;
}
.portfolio-det__info {
  display: flex;
  gap: 1rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #434248;
  align-items: center;
  margin-right: 25.4rem;
}
.portfolio-det__info span {
  text-transform: lowercase;
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.4rem;
  color: rgba(67, 66, 72, 0.5);
}
.portfolio-det__section-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-content: flex-start;
}
.portfolio-det__date {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #434248;
  width: fit-content;
  height: fit-content;
  padding: 1rem 1.6rem;
  color: #434248;
  border: 0.1rem solid #434248;
  border-radius: 3rem;
  margin-left: auto;
}
.portfolio-det__hero-img {
  margin: 0 auto;
  height: 45.4rem;
  margin-bottom: 6rem;
}
.portfolio-det__hero-img img {
  height: 100%;
}
.portfolio-det__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
.portfolio-det__content-section {
  width: 100%;
  display: flex;
}
.portfolio-det__section-subtitle {
  width: 55.3rem;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #434248;
  margin-top: 0.9rem;
}
.portfolio-det__section-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #434248;
  width: 72.9rem;
  margin-bottom: 4rem;
}
.portfolio-det__section-col {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #434248;
  flex-wrap: wrap;
  display: flex;
  width: 33rem;
  flex-direction: column;
  gap: 1.8rem;
}
.portfolio-det__section-main {
  display: flex;
  width: 100%;
  gap: 5rem;
}
.portfolio-det__section-img-block {
  display: flex;
  margin-top: 4rem;
  gap: 2rem;
}
.portfolio-det__img-box-one {
  height: 30.7rem;
  width: 72.4rem;
}
.portfolio-det__img-box-one img {
  height: 100%;
  object-fit: cover;
}
.portfolio-det__img-box-two {
  height: 30.7rem;
  width: 26.3rem;
}
.portfolio-det__img-box-two img {
  height: 100%;
  object-fit: cover;
}
.portfolio-det__img-box-three {
  height: 63.8rem;
  width: 62.8rem;
  margin-bottom: 4rem;
}
.portfolio-det__img-box-three img {
  height: 100%;
  object-fit: cover;
}
.portfolio-det__img-box-four {
  margin-top: 65.4rem;
  width: 51.3rem;
  height: 37.5rem;
}
.portfolio-det__img-box-four img {
  height: 100%;
  object-fit: cover;
}
.portfolio-det__img-box-five {
  height: 22.4rem;
  width: 30.8rem;
  margin-left: auto;
}
.portfolio-det__img-box-five img {
  height: 100%;
  object-fit: cover;
}
.portfolio-det__company {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.portfolio-det__company-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #434248;
}
.portfolio-det__company-wrapper {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.portfolio-det__logo {
  width: 8rem;
  height: 8rem;
}
.portfolio-det__logo img {
  width: 100%;
  object-fit: cover;
}
.portfolio-det__company-type {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: rgba(67, 66, 72, 0.5);
}
.portfolio-det__item {
  margin-left: 2.5rem;
}

@media (max-width: 48em) {
  html {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: 1.3333333333vw;
    -webkit-text-size-adjust: none;
  }
  .portfolio-det {
    padding-top: 22.4rem;
    padding-bottom: 0rem;
    width: 68.6rem;
  }
  .portfolio-det__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    margin-bottom: 4rem;
  }
  .portfolio-det__block-info {
    gap: 2rem;
    order: 2;
    width: 100%;
  }
  .portfolio-det__title {
    order: 1;
    width: 100%;
    font-family: Montserrat;
    font-size: 4.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  .portfolio-det__info {
    gap: 2rem;
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .portfolio-det__info span {
    color: rgba(67, 66, 72, 0.5);
    font-family: Gotham;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    white-space: nowrap;
  }
  .portfolio-det__hero-img {
    height: 43.8rem;
  }
  .portfolio-det__hero-img img {
    object-fit: cover;
  }
  .portfolio-det__content-section {
    flex-direction: column;
    position: relative;
  }
  .portfolio-det__date {
    position: absolute;
    right: 0;
    top: 0rem;
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 2rem 3.2rem;
    border-radius: 6rem;
  }
  .portfolio-det__logo {
    width: 12rem;
    height: 12rem;
  }
  .portfolio-det__company-name {
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
  .portfolio-det__company-wrapper {
    margin-bottom: 6rem;
  }
  .portfolio-det__company-type {
    font-family: Gotham;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    width: 27.6rem;
  }
  .portfolio-det__company {
    gap: 1.6rem;
  }
  .portfolio-det__section-title {
    color: #434248;
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    width: 100%;
  }
  .portfolio-det__section-paragraph {
    font-family: Gotham;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
  }
  .portfolio-det__section-main {
    display: flex;
    gap: 3.2rem;
    flex-direction: column;
  }
  .portfolio-det__section-paragraph {
    width: 100%;
  }
  .portfolio-det__section-col {
    width: 100%;
    gap: 3.2rem;
  }
  .portfolio-det__section-subtitle {
    font-family: Montserrat;
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }
  .portfolio-det__section-left {
    width: 100%;
  }
  .portfolio-det__img-box-four {
    display: none;
  }
  .portfolio-det__img-box-four--mobile {
    display: flex;
    width: 48.6rem;
    height: 32.6rem;
    margin-top: 0rem;
  }
  .portfolio-det__img-box-five {
    width: 18rem;
    height: 32.6rem;
    position: relative;
    top: -35.8rem;
  }
  .portfolio-det__img-box-three {
    width: 100%;
    height: 48.2rem;
  }
}/*# sourceMappingURL=portfolio-det.css.map */