$pf-black: #434248
$pf-black-secondary: rgba(67, 66, 72, 0.5)
$pf-orange: #E9743F
$pf-beige: #FFF3E5
$pf-beige: #FFF3E5
$pf-black-tertiary: #43424840
$pf-error: #F63737
$pf-gray: #D2D2D2
$pf-green: #7fac37

.cart
  padding-top: 3rem
  padding-bottom: 23.8rem
  margin: 0 auto
  width: 156rem
  &__empty
    display: flex
    flex-direction: column
    gap: 4rem
  &__empty-message
    color: #434248
    font-family: Gotham
    font-size: 2rem
    font-style: normal
    font-weight: 400
    line-height: 120%
  &__empty-link
    width: fit-content
    border-radius: 3rem
    border: 0.1rem solid #434248
    padding: 1.2rem 2.4rem
    cursor: pointer
    span
      font-family: Gotham
      font-size: 1.6rem
      font-style: normal
      font-weight: 400
      line-height: 1.9rem
  &__title
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 400
    font-size: 6rem
    line-height: 7.3rem
    color: $pf-black
    margin-bottom: 2.4rem
  &__list
    display: flex
    align-items: center
    flex-direction: column
  .item
    border-bottom: 0.1rem solid $pf-black-secondary
    width: 100%
    display: flex
    align-items: center
    padding-top: 2.5rem
    padding-bottom: 2.5rem
    &--hide
      display: flex
    &__list-title
      color: $pf-black-secondary
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      margin-bottom: 1rem
      &:nth-child(1)
        margin-right: 53.7rem
      &:nth-child(2)
        margin-right: 24.37rem
      &:nth-child(3)
        margin-right: 27.66rem
    &__img
      width: 10rem
      height: 10rem
      overflow: hidden
      border-radius: 50%
      object-fit: contain
      margin-right: 2rem

      img
        width: 100%
        height: 100%
        object-fit: cover
    &__title
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      color: $pf-black
      width: 25rem
      margin-right: 21.9rem
      letter-spacing: 0.035rem
      margin-bottom: 0.3rem
    &__price-count
      font-style: normal
      font-weight: 400
      font-size: 1.4rem
      line-height: 1.5rem
      display: none
    &__price
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 2rem
      line-height: 2.4rem
      color: $pf-black
      width: 20rem
      margin-right: 8.1rem
      text-align: start
      white-space: nowrap
      &--second
        margin-right: 9.65rem
      &::after
        content: '₽'
        font-family: 'Montserrat'
        font-size: 1.6rem
        line-height: 1.9rem
        top: -0.5rem
        left: 0.2rem
        position: relative
    &__buttons
      width: 12.8rem
      padding: 1.2rem 2.4rem
      height: 4.3rem
      margin-bottom: 0.3rem
      border: 0.1rem solid $pf-black
      display: flex
      justify-content: center
      align-items: center

      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      margin-right: 24.6rem
      cursor: pointer
    &__minus
      width: 1.6rem
    &__counter
      margin-left: 1.6rem
      margin-right: 1.6rem
    &__plus
      width: 1.6rem
    &__remove
      width: 1.667rem
      cursor: pointer
  &__total-price
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 400
    font-size: 4rem
    line-height: 4.9rem
    .item__price
      font-style: normal
      font-weight: 400
      font-size: 4rem
      line-height: 4.9rem
      &::after
        font-weight: 500
        font-size: 2rem
        line-height: 2.4rem
        top: -2.2rem
        left: 0.4rem
  &__confirm-order
    margin-top: 5rem
    display: flex
    justify-content: space-between
    align-items: center
  &__confirm-button
    // padding: 0.95rem 6.75rem
    width: 30.2rem
    height: 4.3rem
    background-color: $pf-black
    display: flex
    align-items: center
    justify-content: center
    white-space: nowrap
    border-radius: 3rem
    position: relative
    bottom: 0.35rem
  &__button-img
    width: 2.4rem
    margin-top: 0.2rem
    margin-right: 1.625rem
  &__button-text
    font-family: 'Gotham'
    font-style: normal
    font-weight: 400
    font-size: 1.6rem
    line-height: 1.9rem
    color: white
    letter-spacing: 0.035rem

.cart__title
  align-items: center
  flex-direction: column
  width: fit-content
  display: flex
  flex-direction: row
  align-items: center
  gap: 0.8rem
  span
    display: block
    color:  #434248
    font-family: Montserrat
    font-size: 4rem
    font-style: normal
    font-weight: 400
    line-height: normal
    text-transform: uppercase
    width: fit-content

@media (max-width: 48em)
  html
    font-size: 5px
    font-size: 1.5625vw
    font-size: 1.3333333333vw
    -webkit-text-size-adjust: none

  .cart
    width: 68.6rem
    padding-top: 3+19.3rem
    padding-bottom: 24rem
    &__empty
      display: flex
      flex-direction: column
      gap: 6rem
    &__empty-message
      ont-family: Gotham
      font-size: 3.2rem
      font-style: normal
      font-weight: 400
      line-height: 120%
    &__empty-link
      border-radius: 6rem
      border: 0.1rem solid #434248
      padding: 2.8rem 5.4rem
      cursor: pointer
      span
        font-size: 2.8rem
        font-style: normal
        font-weight: 400
        line-height: 110%
    &__title
      font-style: normal
      font-weight: 400
      font-size: 4.8rem
      line-height: 5.8rem
      margin-bottom: 6rem
      letter-spacing: -0.09rem
    &__list
      align-items: flex-start
      .item--hide
        display: none
      .item
        flex-wrap: wrap
        padding-top: 3rem
        padding-bottom: 3rem
        &:nth-child(2)
          border-top: 0.1rem solid $pf-black
        &__img
          width: 12rem
          height: 12rem
          border-radius: 50%
          overflow: hidden
          margin-right: 1.7rem
          margin-bottom: 2rem
          order: 1
          img
            height: 100%
            width: 100%
            object-fit: cover
        &__title
          width: 40.8rem
          font-weight: 400
          font-size: 2.8rem
          line-height: 3rem
          margin: 0
          order: 2
          letter-spacing: 0.022rem
          margin-right: 11.35rem
          margin-bottom: 2rem
        &__price-count
          margin-left: 2.7rem
          margin-bottom: 1rem
          display: inline-block
          font-size: 2.8rem
          color: $pf-black-secondary
          line-height: 3rem
        &__price
          font-weight: 500
          font-size: 3.2rem
          line-height: 4rem
          order: 4
          margin-top: 1rem
          margin-right: 1.8rem
          &::after
            font-weight: 500
            font-size: 2.5rem
            line-height: 3rem
            top: -1.3rem
            left: -6.6rem
          &--second
            order: 6
            margin: 0
            text-align: right
            width: 15rem
            margin-top: 1rem
            &::after
              font-weight: 500
              font-size: 2.3rem
              line-height: 3rem
              top: -1.4rem
              left: 0.6rem
        &__remove
          order: 3
          width: 2.66rem
          margin-bottom: 10.8rem
        &__buttons
          order: 5
          margin: 0
          padding: 3.76rem 12.15rem
          margin-right: 6.4rem
        &__minus
          width: 3.2rem
          height: 3.2rem
        &__plus
          width: 3.2rem
          height: 3.2rem
        &__counter
          margin-left: 3rem
          margin-right: 3rem
          font-size: 2.8rem
          line-height: 3rem
    &__confirm-order
      display: flex
      flex-wrap: wrap
      justify-content: flex-start
      margin-top: 4rem
    &__confirm-button
      width: 68.6rem
      cursor: pointer
      height: 8.6rem
      border-radius: 6rem
    &__button-text
      font-weight: 400
      font-size: 2.8rem
      line-height: 3rem
      &::first-letter
        text-transform: capitalize
    &__button-img
      width: 4rem
    &__total-price
      font-weight: 400
      font-size: 4rem
      line-height: 4.8rem
      margin-bottom: 6rem
      .item__price
        font-weight: 400
        font-size: 4rem
        line-height: 4.8rem
        margin-left: 1rem
        &::after
          font-size: 2.6rem
          line-height: 4rem
          top: -0.7rem
          left: 0.9rem
