@font-face 
  font-family: Gotham
  src: url(../../fonts/Gotham-book.woff2) format('woff2'), url(../../fonts/Gotham-book.woff) format('woff')
  font-display: swap
  font-weight: 400
  font-style: normal

@font-face 
  font-family: Montserrat
  src: url(../fonts/Montserrat-medium.woff2) format('woff2'), url(../fonts/Montserrat-medium.woff) format('woff')
  font-display: swap
  font-weight: 500
  font-style: normal

@font-face 
  font-family: Montserrat
  src: url(../fonts/Montserrat-regular.woff2) format('woff2'), url(../fonts/Montserrat-regular.woff) format('woff')
  font-display: swap
  font-weight: 400
  font-style: normal

$pf-black: #434248
$pf-black-secondary: rgba(67, 66, 72, 0.5)
$pf-orange: #E9743F
$pf-beige: #FFF3E5
$pf-beige: #FFF3E5
$pf-black-tertiary: #43424840
$pf-error: #F63737

*,
::after,
::before 
  box-sizing: border-box

html 
  font-family: Gotham, sans-serif
  font-size: 0.5208335vw
  font-style: normal
  font-weight: 400
  -webkit-animation: 1s infinite bugfix
  line-height: 1.2
  margin: 0
  padding: 0

img
  object-fit: contain

.payment
  padding-top: 3rem
  padding-bottom: 23.8rem
  margin: 0 auto
  width: 156rem
  display: flex
  flex-direction: column
  &__title
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 400
    font-size: 6rem
    line-height: 7.3rem
    margin-bottom: 5rem
  &__content
    display: flex
    justify-content: space-between
  .order
    width: 62.8rem
    display: flex
    flex-direction: column
    background-color: $pf-beige
    &__img
      width: 8rem
      margin-right: 2rem
    &__date
      margin-left: 3rem
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 2rem
      line-height: 2.4rem
      color: $pf-black
      margin-bottom: 2.5rem
      margin-top: 4rem
    &__title
      letter-spacing: 0.03rem
    &__count
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
    &__price
      color: $pf-black
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 500
      font-size: 2rem
      line-height: 2.4rem
      display: flex
      margin-right: 0.3rem
      align-items: center
      &--gray
        color: $pf-black-secondary
    &__price-ruble
      font-weight: 500
      font-family: 'Montserrat'
      font-size: 1.4rem
      line-height: 1.9rem
      top: -0.5rem
      left: 0.2rem
      position: relative
      &--results
        font-size: 1.9rem
        line-height: 1.9rem
        top: -2.2rem
        left: 0rem
    &__list
      margin-left: 3rem
      width: 56.8rem
      border-top: 0.1rem solid $pf-black-tertiary
      margin-bottom: 3rem
    &__item
      padding: 2.1rem 0
      display: flex
      border-bottom: 0.1rem solid $pf-black-tertiary
    &__wrapper
      display: flex
      width: 100%
      gap: 3.8rem
      flex-direction: column
    &__line
      width: 100%
      display: flex
      justify-content: space-between
    &__price-text
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      color: $pf-black-secondary
    &__cost
      margin-left: 3rem
      width: 56.8rem
      display: flex
      flex-direction: column
      gap: 1.6rem
      border-bottom: 0.1rem solid $pf-black-tertiary
      padding-bottom: 2rem
      margin-bottom: 2rem
    &__results
      width: 56.8rem
      display: flex
      justify-content: space-between
      margin-left: 3rem
      margin-bottom: 4rem
    &__summary
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 400
      font-size: 4rem
      line-height: 4.9rem
      color: $pf-black
    &__total-price
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 400
      font-size: 4rem
      line-height: 4.9rem
      color: $pf-black

              
  .form
    width: 76.2rem
    display: flex
    flex-direction: column
    &__wrapper
      width: 76.2rem
      display: flex
      flex-wrap: wrap
      gap: 3.7rem 3rem
      margin-bottom: 3.7rem
      &--textarea
        gap: 0
        margin-bottom: 4rem
    &__error-icon
      position: absolute
      bottom: 1.247rem
      right: 0
      top: 2.5rem
      width: 1.6rem
      display: none
      &--show
        display: block
    &__item
      width: 36.6rem
      display: flex
      flex-direction: column
      border-bottom: 0.1rem solid $pf-black
      position: relative
      &--error
        border-bottom: 0.1rem solid $pf-error
    &__error
      position: absolute
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.4rem
      line-height: 1.3rem
      text-align: right
      right: 0
      bottom: -2rem
      color: $pf-error
    &__title
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.4rem
      line-height: 1.3rem
      color: $pf-black
      margin-bottom: 0.5rem
      &--textarea
        margin-bottom: 1.4rem
    &__value
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      padding-top: 0.8rem
      padding-bottom: 0.8rem
      letter-spacing: 0.065rem
      &::placeholder
        color: $pf-black-secondary
      &--textarea
        width: 76.2rem
        height: 12rem
        border: 0.1rem solid $pf-black
        resize: none
        padding: 0.9rem
    &__confirm-button
      width: 30.2rem
      height: 4.3rem
      background-color: $pf-black 
      display: flex
      align-items: center
      justify-content: center
      white-space: nowrap
      border-radius: 3rem
      bottom: 0.35rem
    &__button-img
      width: 2.4rem
      margin-top: 0.2rem
      margin-right: 1.625rem
    &__button-text
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      color: white
      letter-spacing: 0.035rem

@media (max-width: 48em)
  html
    font-size: 5px
    font-size: 1.5625vw
    font-size: 1.3333333333vw
    -webkit-text-size-adjust: none

  .payment
    width: 68.6rem
    padding-top: 3+19.3rem
    padding-bottom: 24rem
    &__content
      display: flex
      flex-direction: column
    &__title
      font-style: normal
      font-weight: 400
      font-size: 4.8rem
      line-height: 5.8rem
      margin-bottom: 6rem
    .form
      align-items: center
      order: 2
      width: 68.6rem
    .order
      width: 100%
      margin-bottom: 9.7rem
      &__item
        padding: 3.5rem 0
      &__date
        font-weight: 500
        font-size: 3.2rem
        line-height: 4rem
        margin-top: 6rem
        margin-bottom: 5rem
      &__title
        font-weight: 400
        font-size: 2.8rem
        line-height: 3rem
        width: 27rem
        position: relative
        top: 0.4rem
        left: -0.1rem
      &__img
        width: 12rem
      &__price
        font-weight: 500
        font-size: 3.2rem
        line-height: 4rem
        position: relative
        right: 0.7rem
        bottom: 0.3rem
        display: flex
        align-items: center
      &__price-ruble
        margin-bottom: 1.1rem
        margin-right: -0.5rem
        margin-left: 0.3rem
        font-weight: 400
        font-size: 2.6rem
        line-height: 3rem
        margin-bottom: 1rem
        &--results
          top: -0.7rem
          left: 0.7rem
          font-size: 3rem
      &__wrapper
        gap: 2.8rem
      &__count
        font-weight: 400
        font-size: 2.8rem
        line-height: 3rem
        position: relative
        top: 0.4rem
      &__list
        width: 62.6rem
        margin-bottom: 5rem
      &__cost
        width: 62.6rem
        padding-bottom: 2.8rem
        margin-bottom: 3rem
        gap: 2rem
      &__price-text
        font-weight: 400
        font-size: 2.8rem
        line-height: 3rem
      &__summary
        font-weight: 400
        font-size: 4rem
        line-height: 4.8rem
      &__results
        width: 62.6rem
        margin-bottom: 6rem
      &__total-price
        white-space: nowrap
        font-weight: 400
        font-size: 4rem
        line-height: 4.8rem
        margin-right: 1.2rem
    .form
      &__error
        font-weight: 400
        font-size: 2.4rem
        line-height: 2.2rem
        bottom: -3rem
      &__error-icon
        width: 2.4rem
        top: 5.5rem
      &__wrapper
        width: 68.6rem
        gap: 6rem
        margin-bottom: 6rem
        &--textarea
          gap: 1.2rem
      &__item
        width: 68.6rem
      &__title
        font-family: 'Gotham'
        font-style: normal
        font-weight: 400
        font-size: 2.4rem
        line-height: 2rem
        margin-bottom: 2rem
      &__value
        font-style: normal
        font-weight: 400
        font-size: 2.8rem
        line-height: 3rem
        padding: 1rem 0rem
        &--textarea
          height: 24rem
      &__confirm-button
        height: 8.6rem
        width: 100%
        border-radius: 6rem
      &__button-text
        font-weight: 400
        font-size: 2.8rem
        line-height: 3rem
      &__button-img
        width: 4rem
