@font-face 
  font-family: Gotham
  src: url(../../fonts/Gotham-book.woff2) format('woff2'), url(../../fonts/Gotham-book.woff) format('woff')
  font-display: swap
  font-weight: 400
  font-style: normal

@font-face 
  font-family: Montserrat
  src: url(../fonts/Montserrat-medium.woff2) format('woff2'), url(../fonts/Montserrat-medium.woff) format('woff')
  font-display: swap
  font-weight: 500
  font-style: normal

@font-face 
  font-family: Montserrat
  src: url(../fonts/Montserrat-regular.woff2) format('woff2'), url(../fonts/Montserrat-regular.woff) format('woff')
  font-display: swap
  font-weight: 400
  font-style: normal

$pf-black: #434248
$pf-black-secondary: rgba(67, 66, 72, 0.5)
$pf-orange: #E9743F
$pf-beige: #FFF3E5
$pf-beige: #FFF3E5
$pf-black-tertiary: #43424840
$pf-error: #F63737
$pf-gray: #D2D2D2

*,
::after,
::before 
  box-sizing: border-box

html 
  font-family: Gotham, sans-serif
  font-size: 0.5208335vw
  font-style: normal
  font-weight: 400
  -webkit-animation: 1s infinite bugfix
  line-height: 1.2
  margin: 0
  padding: 0

img
  object-fit: contain

.services
  padding-top: 3.5rem
  padding-bottom: 23.8rem
  margin: 0 auto
  width: 156rem
  display: flex
  flex-direction: column
  &__content
    display: flex
    flex-direction: column
    position: relative
    margin-bottom: 26.6rem
  &__gift-icon
    position: absolute
    width: 16.824rem
    top: 37.55rem
    left: 45.5rem
  &__title-fragment
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 400
    font-size: 14.3rem
    line-height: 17.4rem
    color: $pf-black
    &--first
      margin-bottom: 1rem
    &--second
      margin-left: 44.6rem
      margin-bottom: 1.5rem
    &--third
      margin-left: 67.1rem
      margin-bottom: 5rem
  &__img-wrapper
    top: -0.8rem
    right: 0rem
    position: absolute
    width: 22.233rem
    border: 1px solid $pf-gray
    display: flex
    padding-top: 7.335rem
    padding-bottom: 7.335rem
    justify-content: center
    &--second
      width: 37.614rem
      top: 22.1rem
      right: auto
      padding-top: 12.5rem
      padding-bottom: 12.5rem
  &__img-box
    border-top: 1px solid $pf-gray
    border-bottom: 1px solid $pf-gray
    width: 22.233rem
    height: 18.14rem
    position: absolute
    &--second
      width: 37.614rem
      height: 31.782rem
  &__backgraund-img
    position: relative
    &--mobile
      display: none
    &--first
      width: 17.038rem
    &--second
      width: 31.015rem
  &__discription
    margin-left: 45.5rem
    padding-top: 2.75rem
    border-top: 0.1rem solid $pf-gray
    width: 110.5rem
    display: flex
    justify-content: space-between
    align-items: center
  &__subtitle
    font-family: 'Montserrat'
    font-style: normal
    font-weight: 500
    font-size: 2rem
    line-height: 2.4rem
    margin-bottom: 2.35rem
    color: $pf-black
  &__guarantees
    font-family: 'Gotham'
    font-style: normal
    font-weight: 400
    font-size: 1.6rem
    line-height: 1.9rem
    width: 68.6rem
    color: $pf-black
  &__link-circle
    margin-top: 0.2rem
    margin-right: 11.2rem
  &__link-text
    display: flex
    justify-content: center
    align-items: center
    width: 14rem
    height: 14rem
    border-radius: 10rem
    background-color: $pf-black
    color: white
    font-family: 'Gotham'
    font-style: normal
    font-weight: 400
    font-size: 1.6rem
    line-height: 100%
    text-decoration-line: underline
  .slider
    display: flex
    flex-direction: column
    justify-content: center
    overflow: hidden
    position: relative
    &__pagination-icon
      display: none
    &__backgraund-img
      width: 9rem
      position: absolute
      bottom: -23.5rem
      &--top
        top: 0
        right: 0rem
    &__subtitle
      margin: 0 auto
      font-family: 'Gotham'
      font-style: normal
      font-weight: 400
      font-size: 1.6rem
      line-height: 1.9rem
      margin-bottom: 2rem
      padding-right: 4.4rem
    &__title
      margin: 0 auto
      font-family: 'Montserrat'
      font-style: normal
      font-weight: 400
      font-size: 6rem
      line-height: 7.3rem
      margin-bottom: 8rem
      padding-right: 4.4rem
    &__line
      cursor: url('../../img/shared/pagination-icon.svg'), auto
    .swiper
      &-container
        display: flex
      &-wrapper
        width: auto
        display: flex
      &-slide
        user-select: none
        width: auto !important
    .card
      width: 39.9rem
      display: flex
      flex-direction: column
      align-items: flex-start
      z-index: 5
      position: relative
      &--second
        padding-top: 15rem
      &--third
        padding-top: 30rem
      &--fourth
        padding-top: 15rem
      &__img
        width: 39.9rem
        margin-bottom: 3rem
      &__title
        font-family: 'Montserrat'
        font-style: normal
        font-weight: 400
        font-size: 4rem
        line-height: 4.9rem
        margin-bottom: 2rem
        width: 38.9rem
      &__subtitle
        font-family: 'Gotham'
        font-style: normal
        font-weight: 400
        font-size: 1.6rem
        line-height: 1.9rem

@media (max-width: 48em)
  html
    font-size: 5px
    font-size: 1.5625vw
    font-size: 1.3333333333vw
    -webkit-text-size-adjust: none

  .services
    padding-top: 3+19.3rem
    margin: 0 auto
    width: 68.6rem
    &__content
      margin-bottom: 24.3rem
    &__title-fragment
      font-style: normal
      font-weight: 400
      font-size: 8.8rem
      line-height: 10.8rem
      &--first
        margin-bottom: 0.4rem
      &--second
        margin-left: 0rem
        margin-bottom: 0.4rem
      &--third
        margin-left: 0rem
        margin-bottom: 36rem
    &__discription
      margin: 0
      width: 100%
      flex-direction: column
    &__gift-icon
      width: 28.2rem
      left: 0rem
    &__img-wrapper
      display: none
      &--second
        width: 33.4rem
        padding-top: 3.92rem
        padding-bottom: 4.126rem
        display: flex
        top: 38.1rem
        right: 0rem
    &__img-box
      &--second
        width: 33.4rem
        height: 18.3rem
    &__backgraund-img
      &--second
        display: none
      &--mobile
        display: block
        position: relative
        width: 29rem
    &__subtitle
      font-weight: 500
      font-size: 3.2rem
      line-height: 4rem
      width: 50rem
    &__guarantees
      font-weight: 400
      font-size: 2.8rem
      line-height: 3rem
      margin-bottom: 7rem
    &__link-circle
      margin: 0
      padding: 0
    &__link-text
      width: 25rem
      height: 25rem
      border-radius: 20rem
      font-weight: 400
      font-size: 2.8rem
      line-height: 3rem
    .slider
      &__backgraund-img
        display: none
        &--second
          display: none
      &__pagination-icon
        display: block
        width: 14.4rem
      &__subtitle
        font-weight: 400
        font-size: 2.8rem
        line-height: 3rem
        width: 53.6rem
        margin: 0
        margin-bottom: 3rem
        padding: 0
      &__title
        font-weight: 400
        font-size: 4.8rem
        line-height: 5.8rem
        margin-bottom: 6rem
      .swiper-wrapper
        margin-bottom: 3rem
      .card
        width: 68.6rem
        &--second
          padding-top: 0rem
        &--third
          padding-top: 0rem
        &--fourth
          padding-top: 0rem
        &__img
          width: 68.6rem
          margin-bottom: 2.8rem
        &__title
          font-weight: 400
          font-size: 4rem
          line-height: 4.8rem
          margin-bottom: 1.6rem
        &__subtitle
          font-style: normal
          font-weight: 400
          font-size: 2.8rem
          line-height: 3rem
        

